<md-card>

	<md-card-title-group>
		<md-card-title>raider online</md-card-title>
		<md-card-subtitle>Online sprint name generator</md-card-subtitle>
	</md-card-title-group>

	<md-card-content>
			raider online is an online iterface for the <kbd>sprint-name</kbd> cli tool installed by <a href="https://npmjs.com/raider">raider</a>,
			"A simple module for generating mostly grumpy animal alliterations for sprint names"
	</md-card-content>

	<md-card-actions>
		<a href="http://github.com/michaelkrone/raider" md-raised-button color="accent">raider on Github</a>
	</md-card-actions>

</md-card>
